@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    padding: 10px;
    color: white;
    display: block;
    background-color: red;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}